<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>User Registration</title>
<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
	<h2>User Registration </h2>
	<hr>
    <form th:action="@{/register}" th:object="${user}" method="post">
        <label>Name:</label>
        <input type="text" th:field="*{name}" required>
        <label>Email:</label>
        <input type="email" th:field="*{email}" required>
        <label>Password:</label>
        <input type="password" th:field="*{password}" required>
        <button type="submit">Register</button>
    </form>
	
</body>
</html>